*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.logo{
    width: 128px;
}
header{
    position: sticky;
    top: 0;
    background-color: #fff;
    box-shadow: 0 1px 28px rgba(0,0,0,0.25);
    
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}
h1{
    font-weight: 300;
}
input{
    font-size: 36px;
    border-radius: 7px;
    font-weight: 100;
    padding: 5px;
}
.menu{
    font-size: 18px;
    /* font-weight: 700; */
}
.menu ul {
    display: flex;

}
.menu ul li{
   
}
.menu ul li a{
    display: block;
    padding: 5px 40px;
    
}
.header__innner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu ul li a:hover{
    color: #00a942;
}
#sign{
    font-size: 18px;
    padding: 8px;
    color: #fff;
    background-color:#00a942;
    border: none;
    outline: none;
    border-radius: 5px;
}
#sign:hover{
    background-color:#03d453;
}
main{
    margin-top: 50px;
}
.title{
    font-weight: 300;
    color:#03d453;
    margin-bottom: 40px;
}
#search_order{
    border: 1px solid #e0e0e0;
    outline: none;
}
#search_order::placeholder{
    color: #e0e0e0;    
}
.tracking__inner input[type=submit]{
    background-color: #00a942;
    color: #fff;
    border: none;
    margin-left: 20px;
    padding: 8px 40px;
    


}
.tracking__inner input[type=submit]:hover{
    background-color:#03d453;
}
.payment__form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0 15px 15px rgb(0 0 0 / 10%);
    background-color: #fff;
    
}
.payment__block{
    width: 1200px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;

}
.choice{
    width: 70%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 15px rgb(0 0 0 / 10%);
    padding: 20px;
}
.total{
    width: 30%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 15px rgb(0 0 0 / 10%);
    margin-left: 20px;
    padding: 20px;
    
}
.data-form{
    margin: 20px;
    padding: 50px 0;
}
.payment_choice{
    background-color: #f6f7f9;
    margin: 40px;
    padding: 20px;
    border-radius: 10px;
}
.payment_choice input[type=radio]{
    margin:0px 5px 0 5px;
}
.data-form input{
    width: 300px;
    
}
.btnform{
    background-color: #e0e0e0;
    color: #fff;
    border: none;
    padding: 8px 20px;
}
.activebtn{
    background-color:#00a942;
}
.activebtn:hover{
    background-color:#03d453;
}
.data-form input::placeholder{
    font-size: 28px;
    color: #e0e0e0; 
}